<!DOCTYPE html>
<html>
<head>
  <title>RubyWedding</title>
  <%= stylesheet_link_tag    "ruby_wedding/application", media: "all" %>
  <%= javascript_include_tag "ruby_wedding/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
